body {
  background-color: #e5e5e5;
  margin: 0;
  background-repeat: no-repeat;
}

main {
  background: url(IMG/header-background-mobile.png);
  border-bottom-left-radius: 100px;
  background-repeat: no-repeat;
}

.header1 {
  display: flex;
  align-items: center;
  color: #6070ff;
  background-color: #fff;
  height: 48px;
  width: 375px;
  justify-content: space-between;
}

.Logo {
  margin-left: 12px;
  margin-top: 16px;
  width: 76px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.menu {
  margin-top: 16px;
  margin-right: 36px;
  align-content: center;
  font-size: 25px;
}

.menu1 {
  display: none;
}

.section1 {
  height: 718px;
  width: 375px;
  background: url(IMG/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.heading1 {
  position: static;
  width: 327px;
  padding-left: 24px;
  padding-top: 90px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0;
}

.heading12 {
  display: none;
}

.par1 {
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0;
}

.par2 {
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-bottom: 0;
}

.social {
  list-style: none;
  width: 170px;
  height: 20px;
  display: flex;
  padding-left: 24px;
  justify-content: space-between;
  padding-top: 10px;
}

.works {
  display: grid;
  gap: 88px;
}

.cards {
  background: url(IMG/header-background-mobile2.png);
  height: 596px;
  width: 313px;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-left: 24px;
  padding-left: 16px;
  display: flex;
  padding-top: 16px;
  flex-direction: column;
}

.cursor {
  display: none;
}

.card1 {
  padding-top: 16px;
  flex-direction: column;
}

.snapshot1 {
  width: 295px;
  height: 220px;
  justify-items: center;
}

.snapshot2 {
  display: none;
}

.tonic {
  margin-top: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0;
}

.tonic:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.tonic1 {
  display: none;
}

.ulc1 {
  display: flex;
  justify-content: space-between;
  padding-right: 91px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.li1 a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}

.li2 a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.li12 {
  display: none;
}

.li22 {
  display: none;
}

.li3 a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #7a869a;
}

.li1 a:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.li2 a:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.li3 a:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.btnx {
  display: none;
}

.par3 {
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.par3b {
  display: none;
}

.ulc2 {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-left: 0;
  padding-right: 90px;
}

.btn1 {
  padding: 12px;
  text-decoration: none;
  background-color: #ebebff;
  width: 110px;
  border: solid 1px #6070ff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
}

.upost {
  margin-top: 0;
  padding-top: 0;
}

.abt {
  display: grid;
  gap: 0;
}

.myself {
  background: url(IMG/header-background-mobile2.png);
  height: 596px;
  width: 375px;
  background-repeat: no-repeat;
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  padding-top: 16px;
  flex-direction: column;
}

.abt1 {
  margin-top: 88px;
  border-top-right-radius: 90px;
}

.btn2 {
  padding: 12px;
  text-decoration: none;
  background-color: #ebebff;
  width: 180px;
  border: solid 1px #6070ff;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-left: 24px;
}

.hd2 {
  padding-top: 60px;
}

.lang {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 33px;
}

.li33 {
  display: none;
}

.liss {
  text-decoration: none;
  color: #000;
  background-color: #f7f7f9;
  height: 80px;
  display: flex;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -17px;
  margin-right: 15px;
  margin-bottom: 6px;
}

.liss1 {
  text-decoration: none;
  color: #000;
  margin-left: -17px;
  border-bottom: solid 1px #ebebff;
  padding-bottom: 20px;
}

.a {
  padding-right: 200px;
  border: none;
}

.b {
  padding-right: 187px;
}

.c {
  padding-right: 255px;
}

.liss:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.liss1:hover {
  text-decoration: underline;
  text-decoration-color: #6070ff;
}

.abt3 {
  color: #fff;
  text-align: center;
}

.footer {
  background: #6070ff;
  background-image: url(IMG/contact-form-shapes-mobile@2x.png);
  background-size: cover;
  border-top-left-radius: 50px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "poppins", sans-serif;
  padding-top: 50px;
}

.contact-header {
  font-weight: 700;
  font-size: 35px;
  padding-top: 2rem;
}

.contact-content {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.btn10 {
  width: 170px;
  margin-top: 10px;
  margin-left: -160px;
  margin-bottom: 16px;
  color: #6070ff;
}

.get:hover {
  background-color: rgb(0, 0, 0);
}

.get {
  color:#000;
}

.get:focus {
  color: #000;
}

.user-input {
  width: 327px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 7px;
}

.message {
  width: 327px;
  height: 170px;
  border-radius: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7a869a;
}

.btn {
  padding: 10px 15px;
  font-weight: 700;
  font-size: 14px;
  color: #6070ff;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #7f8cff;
  margin-right: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
}

button:active {
  background-color: #2230d2;
  color: #fff;
}

.See-project {
  background: white;
  border: 1px solid blue;
  padding: 10px 15px;
  font-weight: 700;
  font-size: 14px;
  color: #6070ff;
  border-radius: 10px;
  width: 110px;
  cursor: pointer;
  transition: all 1s ease-out;
}

.resume {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 17px;
  color: #396df2;
  width: 170px;
  margin-left: 24px;
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #e5e5e5;
    margin: 0;
    background-repeat: no-repeat;
  }

  main {
    background: url(IMG/header-background-shape-desktop.svg);
    border-bottom-left-radius: 100px;
    background-repeat: no-repeat;
    width: 1440px;
    height: 916px;
  }

  .header1 {
    display: flex;
    align-items: center;
    color: #6070ff;
    background-color: #fff;
    height: 70px;
    width: 1440px;
    justify-content: space-between;
  }

  .Logo {
    margin-left: 154px;
    margin-top: 24px;
    width: 76px;
    height: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }

  .menu {
    display: none;
  }

  .menu1 {
    display: flex;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    margin-right: 25px;
    font-size: 15px;
    line-height: 20px;
  }

  .menu1:hover {
    color: #396df2;
  }

  .navbar {
    display: flex;
    margin-right: 155px;
    margin-top: 24px;
    font-weight: 500;
    color: #344563;
  }

  .section1 {
    height: 846px;
    width: 1440px;
    background: url(IMG/Header-bg.svg);
    background-repeat: no-repeat;
    border-bottom-left-radius: 10px;
    color: #172b4d;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  .heading1 {
    display: none;
  }

  .heading12 {
    display: inline-block;
    width: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-left: 240px;
    margin-top: 175px;
  }

  .par1 {
    display: flex;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    font-weight: 400;
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: 0;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
  }

  .par2 {
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin-left: 260px;
    margin-bottom: 0;
  }

  .social {
    list-style: none;
    width: 170px;
    height: 20px;
    display: flex;
    padding-left: 260px;
    justify-content: space-between;
    padding-top: 10px;
  }

  .social li:hover {
    transform: scale(1.5);
    background-color: bisque;
  }

  .works {
    display: grid;
    gap: 142px;
    margin-top: 90px;
  }

  .cards {
    background: url(IMG/Container.svg);
    height: 496px;
    width: 1156px;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #172b4d;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-left: 142px;
    padding: 24px 24px 24px 24px;
    display: flex;
    flex-direction: row;
  }

  .cardd {
    flex-direction: column;
    margin-right: 46px;
    margin-left: 46px;
    width: 500px;
  }

  .snapshot1 {
    display: none;
  }

  .snapshot2 {
    display: flex;
    height: 448px;
    width: 544px;
  }

  .ulc1 {
    display: flex;
    justify-content: space-between;
    padding-right: 250px;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    font-size: 18px;
  }

  .ulc2 {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 250px;
  }

  .tonic {
    display: none;
  }

  .tonic1 {
    display: inline-flex;
  }

  .tonic12 {
    margin-bottom: 17px;
  }

  .snap2 {
    width: 520px;
    margin-left: 0;
  }

  .par3 {
    display: none;
  }

  .par3b {
    display: inline-flex;
  }

  .li1 {
    display: none;
  }

  .li2 {
    display: none;
  }

  .li12 {
    display: flex;
    font-family: "poppins", sans-serif;
    margin-top: 2px;
    font-size: 20px;
    font-weight: 100;
  }

  .li22 {
    display: flex;
    font-family: "poppins", sans-serif;
    margin-top: 2px;
    font-size: 20px;
    line-height: 24px;
  }

  .li12 a {
    display: flex;
    font-family: "poppins", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }

  .li22 a {
    display: flex;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .btnx {
    display: flex;
    width: 125px;
  }

  .ucl12 {
    padding-right: 180px;
  }

  .cursor {
    display: flex;
    margin-left: 320px;
  }

  .seeBtn {
    background: #2230d2;
    color: #fff;
  }

  .li32 {
    display: none;
  }

  .li33 {
    display: inline-flex;
    margin-top: 8px;
  }

  .border {
    border: solid 1px #2230d2;
    border-radius: 23px;
    width: 1132px;
    height: 473px;
    display: flex;
    margin-left: -24px;
    padding-left: 24px;
    margin-top: -24px;
    padding-top: 24px;
  }

  .abt {
    display: flex;
    gap: 0;
    background: url(IMG/about-myself-background-shape-desktop.png);
  }

  .myself {
    background: none;
    height: 700px;
    width: 1440px;
    background-repeat: no-repeat;
    color: #172b4d;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    padding-top: 16px;
    flex-direction: column;
  }

  .card4 {
    margin-bottom: 120px;
  }

  .abt1 {
    margin-top: 0;
    padding-top: 100px;
    border-top-right-radius: 90px;
  }

  .abt2 {
    background: none;
    margin-left: -200px;
    margin-top: 80px;
    padding-top: 110px;
  }

  .abt3 {
    color: #fff;
    text-align: center;
  }

  .hd2 {
    display: flex;
    margin-left: 115px;
  }

  .parx {
    margin-left: 142px;
    width: 447px;
    height: 102px;
    display: flex;
    font-size: 16px;
    font-weight: 400;
  }

  .par22 {
    margin-left: 142px;
  }

  .social22 {
    margin-left: -112px;
    padding-bottom: 12px;
  }

  .resume {
    margin-left: 142px;
  }

  .items {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 70px;
    width: 450px;
    padding: 0;
  }

  .items a {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    width: 50px;
    background-color: #f7f7f9;
    padding-right: 79px;
  }

  .a {
    padding-right: 430px;
    border: none;
  }

  .b {
    padding-right: 437px;
  }

  .c {
    padding-right: 505px;
  }

  .footer {
    background: #6070ff;
    background-image: url(IMG/contact-shapes.png);
    background-size: cover;
    border-top-left-radius: 70px;
    padding-left: 436px;
    padding-right: 436px;
    font-family: "poppins", sans-serif;
    padding-top: 142px;
    margin-top: -60px;
    height: 846px;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn10 {
    margin-left: 200px;
    margin-bottom: 127px;
  }

  .user-input {
    border-radius: 0;
    margin-bottom: 27px;
    width: 447px;
    height: 48px;
  }

  .message {
    border-radius: 0;
    width: 447px;
  }
}
